<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mappers.shopMapper">


<!--  카테고리 1차 분류 -->
<select id="list_1" resultType="com.shop.domain.GoodsViewVO">
SELECT tbl_goods.gdsNum, tbl_goods.gdsName, tbl_goods.cateCode,goods_category.cateCodeRef,goods_category.cateName ,gdsPrice , gdsStock,gdsDes,gdsImg,gdsDate, tbl_goods.gdsImg, tbl_goods.gdsThumbImg
	FROM tbl_goods
	INNER JOIN goods_category
	ON tbl_goods.cateCode = goods_category.cateCode
	WHERE tbl_goods.cateCode = #{cateCode}
	OR goods_category.cateCodeRef = #{cateCodeRef}
	</select>


<!--  카테고리 2차 분류 -->
<select id="list_2" resultType="com.shop.domain.GoodsViewVO">
SELECT tbl_goods.gdsNum, tbl_goods.gdsName, tbl_goods.cateCode,goods_category.cateCodeRef,goods_category.cateName ,gdsPrice , gdsStock,gdsDes,gdsImg,gdsDate, tbl_goods.gdsImg, tbl_goods.gdsThumbImg
	FROM tbl_goods
	INNER JOIN goods_category
	ON tbl_goods.cateCode = goods_category.cateCode
	WHERE tbl_goods.cateCode = #{cateCode}
	</select>
	
<!-- 상품 조회 + 카테고리 조인 -->
<select id="goodsView" resultType="com.shop.domain.GoodsViewVO">
SELECT tbl_goods.gdsNum, tbl_goods.gdsName, tbl_goods.cateCode,goods_category.cateCodeRef,goods_category.cateName ,gdsPrice , gdsStock,gdsDes,gdsImg,gdsDate, tbl_goods.gdsImg, tbl_goods.gdsThumbImg
	FROM tbl_goods
	INNER JOIN goods_category
	ON tbl_goods.cateCode = goods_category.cateCode
	WHERE tbl_goods.gdsNum = #{gdsNum}
	</select>
	
	<!-- 상품 소감(댓글) 작성 -->
<insert id="registReply">
	INSERT INTO tbl_reply (gdsNum,userId,repNum,repCon)
VALUES (#{gdsNum}, #{userId},nextval(tbl_reply_seq),#{repCon});
</insert>

<!-- 상품 소감(댓글) 리스트 -->
<select id="replyList" resultType="com.shop.domain.ReplyListVO">
SELECT
tbl_reply.gdsNum, tbl_reply.userId, tbl_reply.repNum, tbl_reply.repCon, tbl_reply.repDate, tbl_member.userName
from tbl_reply
inner join tbl_member
on tbl_reply.userId = tbl_member.userId
where gdsNum = #{gdsNum}
</select>

</mapper>
